.btn1 {
  box-sizing: border-box;
  background-color: #0000cd;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 10px ;
  display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30%;
    height: 60px;
}
.btn {
  box-sizing: border-box;
  background-color: #ffd700;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 10px ;
  display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30%;
    height: 120px;
}

.btn2 {
  box-sizing: border-box;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 10px ;
  display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30%;
    height: 120px;
}


